@model Club


@{
    ViewBag.Title = "Club Details - Soccer Manager";
}
<h2>  Club Details Page </h2>
<table align="center">


    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Coach</th>
            <th>Ground</th>

        </tr>
    </thead>


    <tr>
        <td>@Model.ClubFullName </td>
        <td>
            @if (@Model.Country != null && !@Model.Country.Equals(""))
            {<p>@Model.Country</p>}
            else
            {<p>[Not Specified]</p>}
        </td>
        <td>
            @if (@Model.HeadCoachName != null && !@Model.HeadCoachName.Equals(""))
            {<p>@Model.HeadCoachName</p>}
            else
            {<p>[Not Specified]</p>}
        </td>
        <td>
            @if (@Model.Ground != null && !@Model.Ground.Equals(""))
            {<p>@Model.Ground</p>}
            else
            {<p>[Not Specified]</p>}
        </td>

    </tr>

</table>


@if (Model.Players.Any())
{

    <h2>  Players </h2>

    <table align="center">

        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
                <th>Position</th>

                @if (User.Identity.IsAuthenticated)
                {
                    <th>Edit / Delete</th>
                }

            </tr>
        </thead>

        @foreach (Player player in Model.Players)
        {
            <tr>
                <td>@player.PlayerName </td>
                <td>
                    @if (@player.Age != null)
                    {<p>@player.Age</p>}
                else
                {<p>[Not Specified]</p>}
                </td>
                <td>
                    @if (@player.CountryOfBirth != null && !@player.CountryOfBirth.Equals(""))
                    {<p>@player.CountryOfBirth</p>}
                else
                {<p>[Not Specified]</p>}
                </td>
                <td>@player.PlayingPosition </td>


                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <form id="playersForm" asp-action="DeletePlayer" method="post">
                            <input type="hidden" asp-for="@player.PlayerID" />
                            <a class="button orangeButton" asp-action="EditPlayer" asp-route-playerID="@player.PlayerID">Edit</a>
                            <input type="hidden" name="PlayerID" value="@player.PlayerID" />
                            <button type="submit" class="button redButton"> Delete  </button>
                        </form>
                    </td>
                }
            </tr>
        }

    </table>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <button class="button greenButton"><a asp-action="ManagePlayersPage">Add Players</a></button>
    </div>
}


