@model Club


@{
    ViewBag.Title = "ClubDetailsPage";
}
<h2>  Club Details Page </h2>
<table align="center">


    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>         
            <th>Coach</th>
            <th>Ground</th>
            <th>Players</th>
        </tr>
    </thead>


    <tr>
        <td>@Model.ClubFullName </td>
        <td>
            @if (@Model.Country != null && !@Model.Country.Equals(""))
            {<p>@Model.Country</p>}
            else
            {<p>[Not Specified]</p>}
        </td>
        <td>
            @if (@Model.HeadCoachName != null && !@Model.HeadCoachName.Equals(""))
            {<p>@Model.HeadCoachName</p>}
            else
            {<p>[Not Specified]</p>}
        </td>
        <td>
            @if (@Model.Ground != null && !@Model.Ground.Equals(""))
            {<p>@Model.Ground</p>}
            else
            {<p>[Not Specified]</p>}
        </td>
       

        <td>
            @foreach (Player player in Model.Players)
            {

                @player.PlayerName <br />

            }
            </td>

</tr>

</table>

<div class="text-center">
    <button class="button greenButton" asp-action="ManagePlayersPage">Add Players</button>
</div>


